@model Produto

<h1>Novo Produto</h1>
<form method="post" asp-action="Create">
    <label>Nome:</label>
    <input asp-for="Nome" />
    <br />
    <label>Preço:</label>
    <input asp-for="Preco" />
    <br />
    <label>Estoque:</label>
    <input asp-for="Estoque" />
    <br />
    <button type="submit">Salvar</button>
</form>
